.gladiator-banner {
    width: 100%;
    height: 100%;
}

.banner0 {
    content: url("./noun_1075440_cc.svg");
}

.banner1 {
    content: url("./noun_40832_cc.svg");
}

.banner2 {
    content: url("./noun_120664_cc.svg");
}

.banner3 {
    content: url("./noun_173470_cc.svg");
}

.banner4 {
    content: url("./noun_173472_cc.svg");
}

.banner5 {
    content: url("./noun_173474_cc.svg");
}

.banner6 {
    content: url("./noun_173476_cc.svg");
}

.banner7 {
    content: url("./noun_173478_cc.svg");
}

.banner8 {
    content: url("./noun_199374_cc.svg");
}

.banner9 {
    content: url("./noun_285690_cc.svg");
}

.banner10 {
    content: url("./noun_338717_cc.svg");
}

.banner11 {
    content: url("./noun_440120_cc.svg");
}

.banner12 {
    content: url("./noun_440875_cc.svg");
}

.banner13 {
    content: url("./noun_447334_cc.svg");
}

.banner14 {
    content: url("./noun_691061_cc.svg");
}

.banner15 {
    content: url("./noun_691073_cc.svg");
}

.banner16 {
    content: url("./noun_691084_cc.svg");
}

.banner17 {
    content: url("./noun_901379.svg");
}

.banner18 {
    content: url("./noun_1050497_cc.svg");
}

.banner19 {
    content: url("./noun_1060064_cc.svg");
}

.banner20 {
    content: url("./noun_1067157_cc.svg");
}