<div class="row">
    <div class="col">
        <gladiator-profile [gladiator]="vm.gladiator.value"></gladiator-profile>
    </div>
    <div class="col">
        <form>
            <div class="form-group">
                <label for="gladiatorName">Gladiator Name</label>
                <input type="text" class="form-control" id="gladiatorName" placeholder="Enter name">
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-info" (click)="vm.prevBadge()">&lt; Prev Badge</button>
                <button type="button" class="btn btn-info" (click)="vm.nextBadge()">Next Badge &gt;</button>
            </div>
        </form>
    </div>
</div>