<div class="row">
    <div class="col">
        <gladiator-profile [gladiator]="vm.tempGladiator.value"></gladiator-profile>
    </div>
    <div class="col">
        <a href="javascript:void(0)" (click)="vm.goBack()" class="float-right">Back</a>
        <form class="mt-5">
            <div class="form-group">
                <label for="gladiatorName">Gladiator Name</label>
                <input type="text" class="form-control" id="gladiatorName" placeholder="Enter name">
            </div>
            <div class="form-row">
                <label class="col-sm-3 col-form-label">Banner:</label>
                <div class="btn-group col-9">
                    <button type="button" class="btn btn-secondary" (click)="vm.prevBanner()">&lt; Prev</button>
                    <button type="button" class="btn btn-secondary" (click)="vm.nextBanner()">Next &gt;</button>
                </div>
            </div>
        </form>
    </div>
</div>