<template>
    <require from="../../example-frame.html"></require>
    <require from="./mainPage/mainPage"></require>
    <require from="./gladiatorPage/gladiatorPage"></require>
    <require from="./arenaPage/arenaPage"></require>

    <example-frame title.one-time="'Gladiators'" subtitle="A real world application">

        <div class="card mt-5 w-100 p-3">

            <!-- our primitive router -->
            <main-page if.bind="vm.router.currentRoute === Route.MainPage"></main-page>
            <gladiator-page if.bind="vm.router.currentRoute === Route.GladiatorPage"></gladiator-page>
            <arena-page if.bind="vm.router.currentRoute === Route.ArenaPage"></arena-page>

        </div>

    </example-frame>
</template>