.gladiator-thumbnail {
    position: relative;
    width: 8em;
    height: 10em;
}

.gladiator-thumbnail .card-img-overlay {
    padding: 5px;
}

.gladiator-thumbnail .card-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-right: 10px;
}