<template>
    <require from="../../example-frame.html"></require>
    <require from="./add-todo.html"></require>
    <require from="./visible-todo-list"></require>
    <require from="./app-footer"></require>

    <example-frame title.one-time="vm.title" subtitle.one-time="vm.subtitle">

        <div class="card mt-5 w-50">
            <div class="card-body">
                <add-todo add-todo.call="vm.todoList.addTodo(text)"></add-todo>
                <br>
                <visible-todo-list></visible-todo-list>
                <app-footer></app-footer>
            </div>
        </div>

    </example-frame>
</template>