<template class="page">
    <require from="../gladiatorThumbnail/gladiatorThumbnail"></require>

    <div class="row">

        <!-- top fighters list -->
        <div if.bind="vm.topGladiators.length" class="col-2 text-center" style="overflow: hidden">
            <h5>Top Fighters</h5>
            <div class="list-group">
                <gladiator-thumbnail repeat.for="gladiator of vm.topGladiators" gladiator.bind="gladiator" click.delegate="vm.goToGladiatorPage(gladiator)"
                    class="m-2">
                </gladiator-thumbnail>
            </div>
        </div>
        <div if.bind="!vm.topGladiators.length" class="col-2"></div>

        <div class="col-10 page">

            <!-- buttons -->
            <div class="row mb-2" style="height: 8%">
                <div class="col d-flex justify-content-end">
                    <button class="btn btn-info" click.delegate="vm.newGladiator()">New Gladiator</button>
                </div>
            </div>
            <div class="row" style="height: 8%">
                <div class="col d-flex justify-content-end">
                    <button class="btn btn-info" click.delegate="vm.generateGladiators()">Generate 5 Gladiators</button>
                </div>
            </div>

            <!-- enter the arena -->
            <div class="row" style="height: 64%">
                <img src="../../assets/img/coliseum.png" class="coliseum" click.delegate="vm.toTheArena()" title="Enter the arena">
            </div>

            <!-- all gladiators list -->
            <div class="row" style="height: 20%">
                <div class="gladiators-list-container">
                    <ul class="list-inline gladiators-list mb-0">
                        <li repeat.for="gladiator of vm.gladiatorsList.items" class="list-inline-item" click.delegate="vm.goToGladiatorPage(gladiator)">${gladiator.name}</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</template>