<template>
    <require from="../../example-frame.html"></require>

    <example-frame title.one-time="vm.root.title" subtitle.one-time="vm.root.subtitle">

        <div class="card w-50">
            <div class="card-body">
                <h3>the new stuff</h3>
                <p>${vm.root.status}</p>
                <button click.delegate="vm.root.fetchImage()">Suprise me!</button>
                <button click.delegate="vm.root.doNothing()">I do nothing...</button>
            </div>
            <img if.bind="vm.root.imageUrl" class="card-img-bottom" src.bind="vm.root.imageUrl">
        </div>

        <div class="card w-50 mt-3">
            <div class="card-body">
                <h3>old school counter</h3>
                <p>value: ${vm.root.counter}</p>
                <button click.delegate="vm.root.increment()">Increment?</button>
            </div>
        </div>
        
    </example-frame>
</template>