.badge0 {
    content: url("./noun_1075440_cc.svg");
}

.badge1 {
    content: url("./noun_40832_cc.svg");
}

.badge2 {
    content: url("./noun_120664_cc.svg");
}

.badge3 {
    content: url("./noun_173470_cc.svg");
}

.badge4 {
    content: url("./noun_173472_cc.svg");
}

.badge5 {
    content: url("./noun_173474_cc.svg");
}

.badge6 {
    content: url("./noun_173476_cc.svg");
}

.badge7 {
    content: url("./noun_173478_cc.svg");
}

.badge8 {
    content: url("./noun_199374_cc.svg");
}

.badge9 {
    content: url("./noun_285690_cc.svg");
}

.badge10 {
    content: url("./noun_338717_cc.svg");
}

.badge11 {
    content: url("./noun_440120_cc.svg");
}

.badge12 {
    content: url("./noun_440875_cc.svg");
}

.badge13 {
    content: url("./noun_447334_cc.svg");
}

.badge14 {
    content: url("./noun_691061_cc.svg");
}

.badge15 {
    content: url("./noun_691073_cc.svg");
}

.badge16 {
    content: url("./noun_691084_cc.svg");
}

.badge17 {
    content: url("./noun_901379.svg");
}

.badge18 {
    content: url("./noun_1050497_cc.svg");
}

.badge19 {
    content: url("./noun_1060064_cc.svg");
}

.badge20 {
    content: url("./noun_1067157_cc.svg");
}